@use "partials/variables" as *;
@use "partials/index-dish" as *;
@use "partials/order-style" as *;
@use "layout_guest.scss" as *;
@use "register_blade.scss" as *;
@use "login_blade.scss" as *;
@use "dashboard_home_style.scss" as *;
@use "dashboard_restaurant_create.scss" as *;
@use "dashboard_restaurant_edit.scss" as *;
@use "dashboard_dish_create.scss" as *;
@use "dashboard_dish_edit.scss" as *;

@import "~bootstrap/scss/bootstrap";

*{
    box-sizing: border-box;
    margin: 0;
}

    // SCROLLBAR STYLING 
/* ===== Scrollbar CSS ===== */
* {
    scrollbar-width: auto;
    scrollbar-color: #2c2c2cbd #ffffff;
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 10px;
    }

    *::-webkit-scrollbar-track {
        background: #ffffff;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #2c2c2cbd;
        border-radius: 10px;
        border: 3px solid #ffffff;
    }
    // END SCROLLBAR STYLING 

    .form-control:focus{
        border-color: unset;
        box-shadow: unset;
    }


