@use "partials/variables" as *;

// Stile della section della ASIDE della dashboard 
.my-link{
    color: black;
    text-decoration: none;
}
.my-link:hover{
    color: whitesmoke;
    text-decoration: underline;
}
.rever-color:hover{
    filter:invert(100%)
}

// Stile della section del MAIN della dashboard 
.my-style-home-dashboard-main{
   
    #main-content{
        
        #main-top-cont{

            .add-button{
                a{
                    color: unset;
                }
                .btn-1{
                    transition: all 0.25s ease;
                }
                .btn-1.btn-green{
                    background-color: green;
                    border: 4px solid green;
                    color: white !important;
                }
                .btn-1:hover {    
                    transform: translateY(-3px);
                    background-color: $bg-color;
                    color: black !important;
                }
                // .btn-1.btn-green:hover{ 
                // }
            }
        }
        
        .img-box{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                max-height: 100%;
                object-fit:cover;
                object-position: center;
            }

        }
        
        #main-bot-cont{
            height: 73%;

            /* On screens that are 577px or less,   ...*/
            @media screen and (max-width: 577px) {
                height: 85%;
            }

            
            .res-list{
                height: 90%;

                .items-container{

                    /* On screens that are 993px or more,   ...*/
                    @media screen and (min-width: 993px) {
                        height: 33%;
                    }

                    .img-box{
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            max-height: 160px;
                            overflow-y:hidden ;
                            object-fit:cover;
                            object-position: center;
                        }
        
                    }
                    
                    #single-item{
                        height: 100%;
    
                        .dish-name{
                            overflow-wrap: break-word;
                            max-height: 70px;
                            overflow: hidden;
                        }
    
                        // restaurant interaction buttons
                        #res-int-buttons{
    
                            .details-button{
                                a{
                                    color: unset;
                                }
                                .btn-1{
                                    transition: all 0.25s ease;
                                }
                                .btn-1.btn-blue{
                                    background-color: #0dcaf0;
                                    border: 4px solid #0dcaf0;
                                }
                                .btn-1:hover {    
                                    transform: translateY(-3px);
                                    background-color: $bg-color;
                                }
                            }
    
                            .edit-button{
                                a{
                                    color: unset;
                                }
                                .btn-1{
                                    transition: all 0.25s ease;
                                }
                                .btn-1.btn-yellow{
                                    background-color: $yellow-primary;
                                    border: 4px solid $yellow-primary;
                                }
                                .btn-1:hover {    
                                    transform: translateY(-3px);
                                    background-color: $bg-color;
                                }
                            }
                        }
                    }
                    #single-item-mobile{
    
                        .img-box-mobile{
                            width: 100%;
                            height: 8.25rem;
    
                            img{
                                width: 100%;
                                height: 8.25rem;
                                object-fit: cover;
                                object-position: center;
                            }
                        }
                        
                        .edit-button{
                            a{
                                color: unset;
                            }
                            .btn-1{
                                transition: all 0.25s ease;
                            }
                            .btn-1.btn-yellow{
                                background-color: $yellow-primary;
                                border: 4px solid $yellow-primary;
                            }
                            .btn-1:hover {    
                                transform: translateY(-3px);
                                background-color: $bg-color;
                            }
                        }
                    }
                }
            }
        }
    }

    /* On screens that are 993px or less,   ...*/
    @media screen and (max-width: 993px) {
            // SCROLLBAR STYLING 
        /* ===== Scrollbar CSS ===== */
        * {
            scrollbar-width: auto;
            scrollbar-color: #2c2c2c #ffffff;
        }

        /* Chrome, Edge, and Safari */
        *::-webkit-scrollbar {
            width: 13px;
        }

        *::-webkit-scrollbar-track {
            background: #ffffff;
        }

        *::-webkit-scrollbar-thumb {
            background-color: #2c2c2c;
            border-radius: 10px;
            border: 3px solid #ffffff;
        }
        // END SCROLLBAR STYLING 

        // ADD BUTTON 
        
        #main-content{
            
            #main-top-cont{

                .add-button{
                    a{
                        color: unset;
                    }
                    .btn-1{
                        transition: all 0.25s ease;
                    }
                    .btn-1.btn-green{
                        background-color: green;
                        border: 4px solid green;
                        color: white !important;
                    }
                    .btn-1:hover {    
                        transform: translateY(-3px);
                        background-color: $bg-color;
                        color: black !important;
                    }
                    // .btn-1.btn-green:hover{
                    // }
                }
            }
            #main-bot-cont{

                // #res-search{

                // }
                #res-list{
                    height: 90%;
                .img-box{
                    img{
                        width: 100%;
                 }
                    }
                    #single-item{
                        height: 30%;

                        // restaurant interaction buttons
                        #res-int-buttons{

                            .details-button{
                                a{
                                    color: unset;
                                }
                                .btn-1{
                                    transition: all 0.25s ease;
                                }
                                .btn-1.btn-blue{
                                    background-color: #0dcaf0;
                                    border: 4px solid #0dcaf0;
                                }
                                .btn-1:hover {    
                                    transform: translateY(-3px);
                                    background-color: $bg-color;
                                }
                            }

                            .edit-button{
                                a{
                                    color: unset;
                                }
                                .btn-1{
                                    transition: all 0.25s ease;
                                }
                                .btn-1.btn-yellow{
                                    background-color: $yellow-primary;
                                    border: 4px solid $yellow-primary;
                                }
                                .btn-1:hover {    
                                    transform: translateY(-3px);
                                    background-color: $bg-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}