@use "partials/variables" as *;

#my-style-dashboard-dish-create{

    .form-control:focus{
        border-color: unset;
        box-shadow: unset;
    }

    
    #main-content{
        
        #main-top-cont{

        }

        #main-bot-cont{
            height: 73%;

            #res-create-form{
                // form di creazione restaurant

                input,textarea{
                    border: 2px solid $yellow-primary;
                }

                button{
                    background-color: $yellow-primary;
                    transition: all 0.25s ease;
                    border: 4px solid $yellow-primary;
                }
                
                #btn-1:hover {    
                    transform: translateY(-3px);
                    background-color: $bg-color;
                    // color: black;
                    border: 4px solid $yellow-primary;
                    // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
                }
            }
        }
    }
}