@use "./partials/variables.scss" as *;


.my-style-login{


    .form-control:focus{
        border-color: unset;
        box-shadow: unset;
    }
    

    header{

        nav{
            width: 100%;
            height: 6.25rem;
            border-bottom: 6px solid black;
            background-color: $bg-color;
            

            img{
                width: 4.6875rem;
            }

            h1{
                color: $brown-primary;
                font-size: 3.5rem;
            }
        }
    }




    main {
        // background-color: $bg-color;
        background-image: url(../../public/images/bg-2.png);
        background-size: cover;
        width: 100%;
        height: calc(100vh - 6.25rem);

            /* On screens that are more than 993px, ... */
        @media screen and (min-width: 993px) {

            .my-card{
                width: 40%;
                min-height: 30%;
                transform: translate(0, -10%);


                #login-form{        
    
                    form{       // form di registrazione
    
                        input{
                            border: 3px solid $yellow-primary;
                        }
    
                        button{
                            background-color: $yellow-primary;
                            transition: all 0.25s ease;
                            border: 4px solid $yellow-primary;
                        }
                        
                        #btn-1:hover {    
                            transform: translateY(-3px);
                            background-color: $bg-color;
                            // color: black;
                            border: 4px solid $yellow-primary;
                            // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
                        }
    
                        #pass_recovery{
                            transition: all 0.35s ease;
                        }
                        #pass_recovery:hover{
                            transform: scale(1.040);
                        }
    
                        #rememb_me{
                            transition: all 0.35s ease;
                            user-select: none;
                        }
                        #rememb_me:hover{
                            transform: scale(1.050);
                        }
    
                        #register_redirect{
                            transition: all 0.35s ease;
                        }
                        #register_redirect:hover{
                            transform: scale(1.050);
                        }
                    }
                }
            }
        }
    }


    /* On screens that are 993px or less,   ...*/
    @media screen and (max-width: 991px) {
        .my-card{
            width: 80%;
            min-height: 30%;
            transform: translate(0, -10%);

            #registrer-form{        
    
                form{       // form di registrazione

                    input{
                        border: 3px solid $yellow-primary;
                    }

                    button{
                        background-color: $yellow-primary;
                        transition: all 0.25s ease;
                        border: 4px solid $yellow-primary;
                    }
                    
                    #btn-1:hover {    
                        transform: translateY(-3px);
                        background-color: $bg-color;
                        // color: black;
                        border: 4px solid $yellow-primary;
                        // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
                    }

                    #pass_recovery{
                        transition: all 0.35s ease;
                    }
                    #pass_recovery:hover{
                        transform: scale(1.040);
                    }

                    #rememb_me{
                        transition: all 0.35s ease;
                        user-select: none;
                    }
                    #rememb_me:hover{
                        transform: scale(1.050);
                    }

                    #register_redirect{
                        transition: all 0.35s ease;
                    }
                    #register_redirect:hover{
                        transform: scale(1.050);
                    }
                }
            }
        }
    }
}