//index-dish
.add-link{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    a{
        width: 80%;
        min-width: 80px;
    }
}
.dish-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .card {
        width: calc((100% / 6) - 50px);
        margin: 15px; 
        .button{
           display: flex;
           justify-content: space-around;
           padding: 10px 10px;
        }
    }
    
}


//show-restaurant
.divider{
    width: 70%;
    .price-container{
        width: 40%;
        min-width: 200px;
        
        
    }
    
    .fix-error{
        line-height: inherit;
        
    
    }
}
