main{
  
  padding: 20px 0;
  .order-container{
    width: 100%;
    overflow: scroll;
  max-height: 100%;
  }
}
.completed-button{
  margin-left: 30px;
  background-color: lightblue;
  width: 225px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}
.completed-button:hover{
  margin-left: 30px;
  background-color: black;
  color: white;
 cursor: pointer;
}

.order-card{
    width: 95%;
    margin: 20px 0;
    .status{
      display: flex;
    }
    select{
      max-width: 200px;
    }
 }